// Specific CSS for your home-page

.home-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkowfxwpp/image/upload/v1579955096/wwia/sydney2_w0ek6q.jpg);
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.features-container {
  width: 100%;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: $light-gray;
}

.features-container h2 {
  padding: 10px;
  
}


.left-feature-container {
  width: 50%;
  float: left;
  min-height: 50vh;
  padding: 30px 15px 15px 15px;
  display: block;
}


.right-feature-container {
  width: 50%;
  float: right;
  min-height: 50vh;
  padding: 30px 15px 15px 15px;
  display: block;
}

.small-features-container {
  width: 100%;

}

.small-features-container > * {
  border-bottom: 2px solid black;
}

.small-features-container > * > h2 {
  margin-top: 10px;
}

.small-features {
  min-height: 250px;
}

.small-process {
  min-height: 250px;
}

.home-resources-container {
  // background-color: $secondary;
  border-top: 2px solid red;
  display: flex;
  flex-wrap: wrap;
}

.home-resource-card {
  display: flex;
  justify-content: space-between;
  background: $complementary;
  box-shadow: 0 0 15px rgba(94, 67, 67, 0.2);
  margin: 15px;
  padding: 10px;
  height: 200px;
  width: 200px;
}











/* -------- Media Queries for window size -------- */
/* -------- Columns side-by-side vs stacked -------- */


@media (max-width: 767px) {
  .features-container { max-width: 720px; }

  .left-feature-container { display: none; }
  .right-feature-container { display: none; }

  .small-features-container { display: block; }
}

@media (min-width: 768px) {
  .features-container {
    max-width: 720px;
  }

  // .home-resources-container {
  //   display: block;
  // }

  // .features-container .small-features-container {
  //   display: none;
  // }

}

@media (min-width: 992px) {
  .features-container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .features-container {
    max-width: 100%;
  }

}
