


/* -------- Media Queries for window size -------- */
/* -------- Columns side-by-side vs stacked -------- */


@media (max-width: 767px) {
  .features-container { max-width: 720px; }
  .process-container { max-width: 720px; }

}

@media (min-width: 768px) {
  .features-container {
    max-width: 720px;
  }

  // .home-resources-container {
  //   display: block;
  // }

  // .features-container .small-features-container {
  //   display: none;
  // }

}

@media (min-width: 992px) {
  .features-container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .features-container {
    max-width: 100%;
  }

}
