// Specific CSS for your home-page

.home-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkowfxwpp/image/upload/v1579955096/wwia/sydney2_w0ek6q.jpg);
}

.home-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.home-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.features-container {
  width: 100%;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: $light-gray;
  padding-bottom: 25px;
  padding-top: 25px;
}

.features-container a {
  color: black;
}

.features-container a:hover {
  color: $primary;
}

.process-container {
  width: 100%;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #d3d3d3;
  padding-bottom: 25px;
  padding-top: 25px;
}

.process-container a {
  color: black;
}

.process-container a:hover {
  color: $primary;
}

.home-resources-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  // padding-bottom: 25px;
  padding-top: 25px;
}


.home-resources-cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
}

.home-resource-card {
  box-shadow: 0 0 5px rgba(94, 67, 67, 0.2);
  margin: 5px;
  height: 200px;
  width: 200px;
  flex: 1 0 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  
}

.home-resource-card-infos h5 {
  font-weight: 800;
  color: white;
}

.home-resource-card:hover .home-resource-card-infos h5{
    color: #d3d3d3;

}

.home-map-container {
  padding: 25px;
}


.home-featured-venues-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 25px;
  // padding-top: 25px;
}







/* -------- Media Queries for window size -------- */
/* -------- Columns side-by-side vs stacked -------- */


@media (max-width: 767px) {
  .features-container { max-width: 720px; }
  .process-container { max-width: 720px; }

}

@media (min-width: 768px) {
  .features-container {
    max-width: 720px;
  }

  // .home-resources-container {
  //   display: block;
  // }

  // .features-container .small-features-container {
  //   display: none;
  // }

}

@media (min-width: 992px) {
  .features-container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .features-container {
    max-width: 100%;
  }

}
