@import "show";


.state-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.state-card {
  overflow: hidden;
  color: white;
  background-position: center;
  height: 250px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $light-gray;
}

.new-state {
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.new-state a {
  color: black;
  text-decoration: underline;
}

.new-state a:hover {
  text-decoration: underline;
}



.region-card {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  display: flex;
  align-items: center;
}

.region-card > img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}

.region-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.region-card p {
  font-size: 12px;
  color: black;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.region-card .region-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

a:link{
  text-decoration: none;
}
 
@media (max-width: 767px) {
  .region-card .region-card-infos {
    // text-align: center;
    justify-content: center;
    
  }
  
  .region-card .region-card-infos h2 {
    display: inline-block;
    font-size: 32px;
  }

  .region-card .region-card-infos p {
    display: none
  }
}








.state-container {
  border-bottom: black 2px solid ;
}