<% @applications.each do |application| %>
  <h3> Job Title: <%= application.job.title %> </h3>
  <h4> Job Description: <%= application.job.description %> </h4>
  <p> Venue: <%= application.job.venue.name %> </p>
<% end %>