
<div id="footer" class="bg-dark" >
  <div class="container">
    <span>
    <p><%= link_to "About Us", about_path %></p>
    <p><%= link_to "Resources", resources_path %></p>
    <p><%= link_to "Venues", venues_path %></p>
    <p class="text-secondary">© 2019 Wanna Work in Australia</p>
    </span>
  </div>
</div>