<div class="footer">
  <div class="footer-container w-container">
    <div class="w-row">
      <div class="w-col w-col-4">
        <a href="/old-home-3" class="footer-logo-link w-inline-block">
        <img src="https://uploads-ssl.webflow.com/57d2e65984000bc60dda3b47/580a61d3af35fbf87b987f46_WannaWorkinAustralia_PrimaryLogo_Colour.png" width="120" srcset="https://uploads-ssl.webflow.com/57d2e65984000bc60dda3b47/580a61d3af35fbf87b987f46_WannaWorkinAustralia_PrimaryLogo_Colour-p-500x500.png 500w, https://uploads-ssl.webflow.com/57d2e65984000bc60dda3b47/580a61d3af35fbf87b987f46_WannaWorkinAustralia_PrimaryLogo_Colour.png 648w" sizes="100vw" alt=""></a>
        <h4>Wanna Work in Australia</h4>
      </div>
      <div class="w-col w-col-4"><h4 class="footer-heading">
        <a href="/search">Search&nbsp;</a></h4>
        <h4 class="footer-heading"><a href="mailto:hello@iwannaworkinaustralia.com.au">Contact Us</a></h4><h4 class="footer-heading"><a href="/submit-a-job">Submit a Job</a></h4><h4 class="footer-heading"><a href="/employer-submission">Venue Application</a></h4></div><div class="w-col w-col-4"><h4 class="footer-heading">How to work in Australia</h4><div class="w-dyn-list"><div class="w-dyn-items"><div class="w-dyn-item"><a href="/info/rsa-copy" class="footer-link">Accommodation</a></div><div class="w-dyn-item"><a href="/info/drivers-licence-information" class="footer-link">Getting on the road</a></div><div class="w-dyn-item"><a href="/info/rsa" class="footer-link">RSA</a></div><div class="w-dyn-item"><a href="/info/visas" class="footer-link">Visas</a></div><div class="w-dyn-item"><a href="/info/work-cover" class="footer-link">Work cover</a></div><div class="w-dyn-item"><a href="/info/health-insurance" class="footer-link">Health Insurance</a></div><div class="w-dyn-item"><a href="/info/tax" class="footer-link">Rates of Pay</a></div><div class="w-dyn-item"><a href="/info/superannuation" class="footer-link">Tax &amp; Superannuation</a></div></div></div></div></div><p class="copyright-notice">© 2016 Wanna Work in Australia</p></div></div>