
<div id="footer" class="navbar bg-dark" > <!-- style="position: fixed;" -->
  <div class="container">
    <p><%= link_to "About Us", about_path %></p>
    <p><%= link_to "Resources", resources_path %></p>
    <p><%= link_to "Venues", venues_path %></p>
    <span class="text-secondary">© 2019 Wanna Work in Australia</span>
  </div>
</div>