
<div id="footer" class="navbar bg-dark" > <!-- style="position: fixed;" -->
  <div class="container">
    <h4><%= link_to "About Us", about_path %></h4>
    <span class="text-secondary">© 2019 Wanna Work in Australia</span>
  </div>
</div>