<div class="process-container">
  <div class="container">
    <h3>The Process</h3>
    <br>
    <p><%= link_to "Find your ideal venue", search_path %></p> <br>
    <p>Reach out and send an application</p> <br>
    <p><%= link_to "Track your application through your dashboard", dashboard_path %></p> <br>
  </div>
</div>