<div class="home-banner">
  <div class="container">
    <h1>WWIA helps international travellers find work in Australia</h1>
    <p>Browse jobs and apply for work in one of our beautiful tourism regions</p>
    <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>