
<%# initialize map %>
<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-27.32, 135.26, 4.5);  
        // addMarkers();
      });
    </script>
<% end %>

<div id="map"></div>