
<%# initialize map %>
<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-27.32, 135.26, 4.5);  
        // addMarkers();
      });
    </script>
<% end %>





<div class="container">
  <div class="home-map-container">
    
    <div class="home-map-headers">
      <h3>Browse venues</h3>
      <h6>Find your next workplace</h6>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>

  </div>
</div>
