
<%# initialize map %>
<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap(-27.32, 135.26, 5);  
      });
    </script>
<% end %>

<div class="map-container">
  <div id="map"></div>
</div>