<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to regions_path do %>
  View Regions
<% end %>

<%# <%= link_to jobs_path do %> %>
  <%# View Job Listings %>
<%# <% end %> %>

<%# <%= link_to resources_path do %> %>
  <%# View Resources for Travellers %>
<%# <% end %> %>
