

<div class="banner">
  <div class="container">
    <h1>WWIA helps international travellers find work in Australia</h1>
    <p>Browse jobs and apply for work in one of our beautiful tourism regions</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
  </div>
</div>

<div class="features-container">
  <div class="left-feature-container">
    <h2>Features</h2>
    
  </div>
  <div class="right-feature-container">
    <h2>Our Process</h2>
    
  </div>
  <div class="small-features-container">
    <div class="small-features"><h2>Features</h2></div>
    <div class="small-process"><h2>Our Process</h2></div>
  </div>
</div>

