

<div class="home-banner">
  <div class="container">
    <h1>WWIA helps international travellers find work in Australia</h1>
    <p>Browse jobs and apply for work in one of our beautiful tourism regions</p>
    <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
</div>

<div class="features-container">
  <h3>Features</h3>
  <br>
  <div class="feature-card-1"></div>
  <div class="feature-card-2"></div>
  <div class="feature-card-3"></div>
  <p>Browse our 76 tourism regions</p> <br>
  <p>View job listings from our curated list of hospitality venues</p> <br>
  <p>Contact venue managers directly on our platform</p> <br>
</div>

<div class="process-container">
  <h3>The Process</h3>
  <br>
  <p>Find your ideal venues</p> <br>
  <p>Reach out and send an application</p> <br>
  <p>Track your application through your dashboard</p> <br>
</div>


<div class="home-resources-container">
  <h3>How to work in Australia</h3>
  <h6>All the relevant information you'll need</h6>
  <div class="home-resources-cards-container">
    <% @resources.each do |resource| %>
      <%= link_to resource_path(resource) do %>
        <div class="home-resource-card">
          <h5><%= resource.title %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

















