<div class="container">
  <div class="container-venues-index">
    <div class="venues-cards-container">
      <% @venues.each do |venue| %>
          <div class="card-venue-index" data-aos="fade-in">
            <%= image_tag venue.banner %>
            <div class="card-venue-infos">
              <div class="venue-infos">
                <h4><%= link_to "#{venue.name}", venue_path(venue) %></h4>
                <p><%= venue.suburb %></p>
              </div>
              <div class="open-job-listings">
                <% if !Job.where(venue: venue).empty? %>
                  <p>Open job listings!</p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>