<div class="wwia-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dkowfxwpp/image/upload/v1579955096/wwia/sydney2_w0ek6q.jpg">

  <div class="container">
      <h2><strong>Venues</strong></h2>
  </div>

</div>


<div class="container">
  <div class="container-venues-index">
    <div class="venues-cards-container">
      <% @venues.each do |venue| %>
          <div class="card-venue-index" data-aos="fade-in">
            <%= image_tag venue.banner %>
            <div class="card-venue-infos">
              <div class="venue-infos">
                <h4><%= link_to "#{venue.name}", venue_path(venue) %></h4>
                <p><%= venue.suburb %></p>
              </div>
              <div class="open-job-listings">
                <% if !Job.where(venue: venue).empty? %>
                  <p>Open job listings!</p>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
