


<div class="container">
  <div class="container-venues-index">
    <div class="row">
      <% @venues.each do |venue| %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card-venue-index">
            <%= image_tag "https://res.cloudinary.com/dkowfxwpp/image/upload/v1580625627/wwia/stones_s7spol.jpg" %>
            <div class="card-venue-infos">
              <div class="venue-infos">
                <h4><%= link_to "#{venue.name}", venue_path(venue) %></h4>
                <p><%= venue.address %></p>
              </div>
              <div class="open-job-listings">
              <% if !Job.where(venue: venue).empty? %>
                <p>Open job listings!</p>
              <% end %>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
