
<div class="container">
  <div class="card-venue-show">
    <h2><%= @venue.name %></h2>
    <p><%= @venue.description %></p>
    <br>
    <br>
    <br>
    <div class="card-venue-jobs">
      <div><h3>Current Job Listings</h3></div>
      <br>
      <% @jobs.each do |job| %>
        <div class="card-venue-job">
          <h4><%= link_to job.title, venue_job_path(@venue, job) %></h4>
          <p><%= job.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


