



<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hey <%= @user.first_name %>, you've successfully applied to <%= @venue.name %>!</h2>
    <p>
      To view your current applications, follow <%= link_to "this link", @applications_path %>
    </p>
  </body>
</html>