@import "search";
@import "show";


.container-venues-index {
  margin-top: 25px;
  margin-bottom: 25px;
}

.venues-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.venues-cards-container > div {
  margin: 10px;
}

.card-venue-index {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-venue-index > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.card-venue-index h4 {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.card-venue-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  // margin-top: 8px;
}

.card-venue-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.card-venue-infos p {
  padding: 5px 0px;
}

.venue-infos {
  display: flex;
  flex-direction: column;
}

.open-job-listings {
  align-self: flex-end;
}