

.search-container {
  width: 100%;
  background-color: $light-gray;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px
}

.search-form-container {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.search-form-container label {
  margin-right: 10px;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50vh;
  overflow: auto;
  margin: 10px;
}

.search-result-card {
  height: 25vh;
  width: 80%;
  max-width: 1200px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.map-info-container {
  display: flex; 
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
  // min-height: 300px;
  height: 80vh;
}

.map-search-container {
  // height: 50vh;
  width: 70%;
  float: left;
  border: solid 1px black;
  margin: 0px 5px 10px 5px;
}


.info-container {
  // height: 50vh;
  width: 30%;
  float: right;
  border: solid 1px black;
  margin: 0px 5px 10px 5px;
  overflow: auto;
  position: relative;
  
}

.info-address-card {
  height: 10vh;
  width: 80%;
  margin: 5px;
}