
.card-venue-show {
  height: 100vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 15px;
  padding: 25px 15px;
}

.card-venue-show h2, .card-venue-show p {
  margin-bottom: 20px;
  align-self: center;
}

.card-venue-jobs {
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
}

.card-venue-jobs h3 {
  margin-top: 10px;
  align-self: center;
}

.card-venue-job {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
  padding: 5px;
}