
<div class="container">
  <div class="card-resource-show">
    <h2>Accommodation</h2>

<p>
  Whether you’re staying put for your entire stay or travelling around the country, there are plenty of options for places to stay. Australia offers foreigners numerous possibilities in terms of accommodation: hostels, shared flats, student housing , etc.
</p>

<p>
  It's up to you to choose what kind of accommodation suits you best, fulfils your needs, and fits into your budget. Take some time to learn about the housing situation and conditions in Australia as well as the area you may want to base yourself to begin.
</p>

<h6><strong>Hostels</strong></h6>
<p>
  Unless you have accommodation organised before you leave, majority of backpackers often stay in a hostel at first, especially if they’re not sure exactly where you want to settle and work! 
</p>

<p>
  Generally speaking, prices are very competitive. You’ll usually pay between $20 and $30 per night in a dorm, and between $75 to $150 for a single room. Of course, prices vary between cities and they depend on the location of the hostel within that city. This type of accommodation is ideal for backpackers, who are just traveling through. Some of them can end up staying for a couple of months though! One of the down sides would be the lack of privacy.
</p>

<p>
  Visit <%= link_to "booking.com", "https://www.booking.com/", target: "_blank" %> to find a hostel that suite your needs. It’s very practical for finding a hostel with a good location and a good price!
</p>

<h6><strong>Flat shares</strong></h6>
<p>
  Flat shares are an easy and cheap way of living in Australia. The prices vary, an average would be something between $150 and $250 per week. This type of accomodation is especially good if you are a couple, as the weekly rent for a room isn’t just multiplied by two, instead, you’ll usually just pay a bit more for the room.
</p>

<p>
  The other aspect of living in a flat share is that you have to know how to live in a community and to obey the rules of the share house. Doing your dishes or replacing the toilet paper are a must!
  In the CBD of bigger cities, it’s not uncommon to see ads for shared rooms. You will have less privacy, but you’ll live in the city centre for a reasonable price
</p>

<p>
  You’ll often be asked to pay a deposit (bond) which will be the equivalent of 2 to 4 weeks rent. Sometimes you also have to pay the first two weeks of rent in advance. Never give cash without having proof of payment and always ask for a receipt! Also, check if bills are included in the advertised rent and what they include. Before signing the lease, ask for clarification if you aren’t sure.
</p>

<p>
  The website Flatmates specialises in ads for flat shares. You can either scroll through the ads or create your own, explaining who you are, and your search criteria.
</p>

<p>
  There are also hundreds of Facebook groups that can help you with your flat search. Start by filtering your results according to the city you are looking to live in. Just ask to join and check out the various posts.
</p>

<h6><strong>Renting an apartment or house</strong></h6>
<p>
  If you’re looking to spend your Working Holiday visa settled in one location, then renting a house or an apartment is for sure the best option. In Australia’s big cities (especially Sydney and Brisbane), real estate prices can be incredibly high. In Sydney, you have to expect at least $400 per week for a studio apartment in the CBD.
</p>

<p>
  If you are with a couple of friends or family, you can look at renting a whole house or apartment. In the suburbs of a city, rents are usually a lot cheaper. If you don’t want to buy a vehicle, always double check the public transport options available to you.
</p> 

<p>
  It’s worth knowing that to rent an apartment or house, you’ll usually have to sign a contract for at least 6 months (normally 12 months). If you are on a temporary visa (WHV) and plan to move around during your stay, this is probably not the right option for you.
</p>

<h6><strong>If you want to rent an apartment or a house through an agency, you have to complete a form and provide a number of documents:</strong></h6>
    <ul>
      <li>ID</li>
      <li>Estimate of your income (previous year’s tax return or payroll)</li>
      <li>Type of Visa</li>
      <li>Proof of address (electricity bill, bank account)</li>
      <li>References from previous agencies or owners</li>
    </ul>

<h6><strong>There are two main websites that summarise all offers from real estate agencies:</strong></h6>

  <ul>
    <li><%= link_to "realestate.com.au", "https://www.realestate.com.au/", target: "_blank" %></li>
    <li><%= link_to "domain.com.au", "https://www.domain.com.au/", target: "_blank" %></li>
  </ul>

<p>
  These two sites are without a doubt the best websites if you are looking for an apartment in Australia! You set a search filter (size, location, with balcony…) and you can also set up push notifications so you don’t miss a single offer!
</p>

  </div>
</div>

<%= link_to "", "", target: "_blank" %>