<div class="container">
  <div class="card-resource-show">
    <h2>Banking</h2>

    <p>
      It is a good idea to have your bank account opened before you arrive in Australia. There are four main banks to choose from - Commonwealth Bank (CommBank), ANZ, Westpac & National Australia Bank (NAB).
    </p>

    <p>
      The process is usually quick and straightforward. and you can apply from outside Australia via the links above. If you haven’t got an address in Australia yet then you can usually ask for your debit card to be delivered to a branch of your choosing. Allow more time than they estimate as they can sometimes take more than a week.
    </p>

    <p>
      Once you arrive into Australia, contact the bank to arrange an appointment to finish setting up your account. Bring your passport and a copy of your visa with you when you come to the appointment.
    </p>

    <p>
      The 4 main banks all have really good apps which you can use to do anything from setting up joint accounts to international transfers. Most also allow you to withdraw cash without a debit card by using a code, so you can withdraw money before you receive your card if necessary.
    </p>
  
  </div>
</div>