
<div class="container">
  <div class="card-resource-show">
    <h2>Medicare & Health Care</h2>

<h6><strong>What is Medicare?</strong></h6>
<p>
  The Australian Healthcare system is called Medicare it is the publicly funded health scheme for Australia. Healthcare in Australia can at times be quite expensive but you may be eligible for a Medicare card which drastically reduces the costs.
  
  Australia has reciprocal health agreements with a number of other countries, which you can view at the Department of Human Services website. and nationals of these countries can benefit from Medicare. However, coverage is lower than that provided to Australian citizens, which means Medicare only covers essential care. 
  
  It's worth knowing that in certain situations coverage is completely excluded (accidents that occur while working for instance). Therefore it is important to check the scope of coverage you're entitled to. 
</p>

<h6><strong>What does Medicare cover and what do I need to pay for?</strong></h6>

<p>
  The Australian system covers certain situations such as: Consultations with a general practitioner or a specialist, Treatment in a public hospital, Surgery, and Subsidised medicine under the Pharmaceutical Benefits Scheme (PBS)
</p>

<p>
  Treatments such as dental expenses, alternative medication, physiotherapy, ambulance services, glasses or contact lenses are not covered under Medicare.
  
  Some doctors practice Bulk Billing. In this case, they don’t charge you anything when you present your Medicare card. 
  
  If you are hospitalised as a ‘public patient‘ in a public hospital, you will not have to pay any fees. In this case, Medicare covers everything. On the other hand, if you go to a hospital, public or private, as a ‘private patient‘, Medicare will only cover 75% of the costs. The rest will come from your pocket or through your supplementary health insurance if you have one.
  
  In any case, you should always present your Medicare card at all medical appointments and when hospitalised.
</p>

<h6><strong>Do I need health insurance?</strong></h6>
<p>
  The Department of Home Affairs recommends that anyone travelling on a 417 or a 462 visa does take out health insurance for the duration of their stay. This will usually be included in your travel insurance. 
  
  The cost of a trip in an ambulance varies from state to state but can be upwards of $1000 so its worth while ensuring that you have some form of ambulance cover while you're in Australia.
</p>

<h6><strong>How do I apply for Medicare?</strong></h6>
<p>
  You can check if you eligible, check your entitlements and apply online for your Medicare card via the Medicare website.  You’ll need to supply your passport details, visa details and also a proof of address, which you can get from your bank.
  
  You can also call them on 132 011 or visit your nearest Medicare centre.
</p>


  </div>
</div>

<%= link_to "", "", target: "_blank" %>