
<div class="container">
  <div class="card-resource-show">

    <h2>Superannuation</h2>


    <h6><strong>What is Superannuation?</strong></h6>
    
        <p>Superannuation (or 'super' as most Aussie’s call it) is a government pension scheme to help save for retirement in Australia. Your employer pays a government mandated contribution to a fund that is meant to provide you with income after retirement — or if you’re only there short term, you can withdraw it once you leave. Generally if you’re earning more than $450 per month in Australia, your employer is required to contribute the equivalent of 9.5% of your income to a superannuation fund for you. Your employer pays this contribution in addition to your wages. There are some exceptions however and for full eligibility criteria, check out the ATO website.</p>
    
        
        <h6><strong>Choosing a super fund</strong></h6>
    
        <p>It's common for employers to set up super funds on their employee's behalf. But, the option is also available to set your own fund up. You can do this when you open a bank account with any of the main banks in Australia. Setting up your own super fund is a good option if you intend to travel around and work in a number of jobs. Trying to keep track of your super payments can get very complicated and confusing if you have multiple accounts. With one super account, you can keep all the funds in one place and it will be easier for you to claim it back when you leave.</p>
    
    <h6><strong>Benefits of setting up your own superannuation account</strong></h6>
    
        <ul>
          <li>You can keep all your super in one place (even if you have multiple jobs)</li>
          <li>There is less paperwork </li>
          <li>It helps you to maximise your refund</li>
        </ul>
    
        <h6><strong>Things to note</strong></h6>
    
        <ul>
          <li>A job will advertised as ‘salary including super’ or ‘salary plus super’ — this is important thing to note when looking at a job offer as it will affect your take home amount if your salary includes Super.</li>
          <li>When your tax file number (TFN) is granted, you must supply this to your bank so that they can link it to your Super account. If not then you are taxed on your Super account.</li>
        </ul>

    
    

    <h6><strong>Leaving Australia</strong></h6>
    
    <p>
        If you have worked and earned super while visiting Australia on your Working Holiday visa be it one year or three, you can apply to have your super paid to you as a Departing Australia Superannuation Payment (DASP) after you leave. There are eligibility requirements that you will need to meet in order to claim your DASP.
    
        You can claim your super after you leave if you:
        • were in Australia on an eligible temporary-resident visa
        • had super contributions paid by an employer while you were in Australia
        • have left Australia and your working visa has either expired or been cancelled
    
        Before your super is paid to you, your fund will deduct tax at a rate of 65%.
    
        Before submitting your application, check with your employer to confirm that they’ve paid all the super that they are required to.
    
        Once you have been outside of Australia for 6 months or more, your visa has ceased to be in effect so it is advised to make a DASP claim as soon as you leave Australia. If you have not claimed DASP, your super fund will transfer your super money to the ATO as unclaimed super money.
    
        You may also be required to provide certified documents for your application. Check with your super fund to confirm what documentation is required. Keep in mind that it’s easier to have documents certified in Australia, so do this before you leave.
    </p>


        <h6><strong>Useful links</strong></h6>
    
    
        <%= link_to "Am I entitled to super?", "https://www.ato.gov.au/calculators-and-tools/am-i-entitled-to-super/", target: "_blank" %>

        <%= link_to "Fairwork - Tax & Super", "https://www.fairwork.gov.au/pay/tax-and-superannuation", target: "_blank" %>
  

  </div>
</div>


