<div class="container">
  <div class="card-resource-show">
    <h2>Tax File Number</h2>
    <p>
      In order to work in Australia, you need to have a Tax File Number (TFN). This number is your identification with the ATO (Australian Taxation Office). Everyone living and working in Australia must declare their income, the amount of hours worked and the type of visa you are on do not matter.
    </p>

    <p>
      A simple and secure way to access government online services is by setting up a MyGov account. This account can be linked to a number of different government services such as the ATO and medicare and can be used to assist with tax related questions. 
    </p>

    <h6><strong>How to I apply for a TFN?</strong></h6>
    <p>
      You can apply for a TFN online via the ATO website once you have your work visa.
      If you haven’t done so already, as soon as you arrive in Australia, this should be one of the first things you do as you will need to provide your TFN to your employer when starting a new job. 
    </p>

    <h6><strong>Starting work</strong></h6>
    <p>
      When you start work, you give your employer a Tax file number declaration. This helps the employer work out how much tax to withhold from your pay.
    </p>

    <p>
      Your employer will check if you have a visa subclass 417 (Working Holiday) or 462 (Work and Holiday), but you should tell them anyway to ensure they tax you correctly.
    </p>

    <p>
      Your employer is required to register with the ATO as an employer of working holiday makers. Working holiday makers do not register. If your employer is registered with the ATO, they will withhold tax from your pay at 15% on the first $37,000 of income and the balance is taxed at ordinary rates.
    </p>

    <p>
      Backpackers can no longer be considered as residents for tax purposes. Even if you are planning to stay more than 6 months at the same place. This means that backpackers can no longer claim a tax free threshold as Australian residents.
    </p>

    <h6><strong>When do I pay tax?</strong></h6>
    <p>
      The tax is collected directly from each salary you receive. The amount taken from you pay will appear on your pay check (payslip), usually under the title of “PAYG Withholding“.
    </p>

    <h6><strong>Income Statements & Tax Returns</strong></h6>
    <p>
      The Australian financial year runs from the 1st July to 30th June each year. 
    </p>

    <p>
      An income statement is a document that outlines the amount you’ve earned, tax withheld and superannuation that has been paid during the last financial year. You can find this on the ATO website by logging in through your myGov account at the end of the financial year. The information on your income statement or payment summary will help you to determine if you need to lodge a tax return, and if so, complete your tax return.
    </p>

    <p>
      Tax returns can be lodged  any time from 1st July to 31st October, for the previous financial year. If you do not lodge your tax return within this time frame, you may cope a penalty. 
    </p>

    <h6><strong>You do not need to lodge an income tax return if both of the following apply:</strong></h6>
    <ul>
      <li>All of your income was earned as salary and wages while you were a working holiday maker</li>
      <li>The total of your taxable income for the income year was less than $37,001.</li>
    </ul>

    <h6><strong>You are required to lodge an income tax return if:</strong></h6>
      <ul>
        <li>Your taxable income for the year was more than $37,000</li>
      </ul>


    <p>
      If you’ve made purchases related to your work such as equipment (safety shoes, equipment etc) or you paid transport costs to get to a place of work to another, you can deduct those costs from your taxes. Keep in mind that you will need to present valid receipts for any work related purchases so it pays to hold on to these or scan them into a folder on your phone or laptop.
    </p>

    <p>
      When you lodge a tax return, the ATO will look at how much tax you should have paid based on your actual income for the year. If too much was withheld from your pay, you will be refunded the difference. If you have not paid enough, you will be sent a bill for the outstanding amount.
      You can do your tax return yourself via the ATO website or if you don’t feel confident filing it yourself, there are numerous online websites that act as tax agents or alternatively, you can seek the help of an accountant. 
    </p>
<p>
  
      If you leave Australia permanently before 30 June, you can lodge your tax return early.
</p>

    <h6><strong>The Medicare Levy</strong></h6>
    <p>
      The Medicare levy helps fund some of the costs of Australia's public health system known as Medicare. The Medicare levy is 2% of a persons taxable income, in addition to the tax they pay on their taxable income.
    </p>

    <p>
      Most working holiday makers are foreign resident taxpayers. Foreign resident taxpayers do not pay the Medicare levy.
    </p>

    <p>
      If you determine that you are an Australian resident for tax purposes and are a citizen of one of the countries that has reciprocal health agreements with Australia, then you may be liable to pay the Medicare levy. You can find out more about the Medicare levy by visiting the ATO website.
    </p>
      
  </div>
</div>