<div class="container">
  <div class="card-resource-show">
  
    <h2>Visa Information</h2>


    <p>The working holiday visa (subclass 417) is a temporary travel visa offered to people (18-30 years) who wish to travel and work in Australia for up to one year. If you wish to apply for your&nbsp;<strong>first&nbsp;</strong>work travel visa, you must be outside of Australia at the time of application.&nbsp;</p>

          <p>
          <br>
            <h6><strong>What is a working holiday?</strong></h6>
            <br><br>

            The Working Holiday Maker (WHM) program has been fostering stronger links between young
            people from Australia and around the world since the 70’s. It allows young adults between the age of 18-30 to have a 12 month holiday, during which they can undertake short-term work and study. 
    <br><br>
            The WHM program now includes over 40 partner countries or jurisdictions in two visa subclasses, the Working Holiday (subclass 417) visa and the Work and Holiday (subclass 462) visa. 
    <br><br>
            462 visas have education requirements, you may need a letter of support from your government of origin and evidence of functional English while 417 visas do not require these.
    <br><br>
            The most common visa type for young international citizens who plan to work while they are here is the Working Holiday visa (subclass 417). The 417 visa will give you the ability to work and live in
            Australia for one year with a maximum of 6 months with any one employer (details of this restriction here). You can study for up to 4 months and you can leave and re-enter the country as many times as you like during the year.
    <br><br>
            Once your 417 visa is granted you have one year to enter Australia. If you don’t enter within that year, then your visa will be cancelled. 
    <br><br>
            How do I apply?
    <br><br>
            You can apply directly through the Australian Government website. It doesn’t take long. Once you have all the required documents, give yourself a couple of hours to complete the application. 
    <br><br>
            There are agencies out there that can assist with the application process but these will often cost money on top of the visa fee.
    <br><br>
            You can apply for a 417 visa under the following conditions:
            <ul>
              <li>You are outside of the country when you are applying for your first 417.</li>
              <li>You are aged between 18 – 30 years of age (Citizens of Canada, France or Ireland are eligible until the age of 35) — one very important thing to note is that the visa must be granted before your 31st birthday, but you can enter the country after you turn 31. </li>
              <li>You don’t have any dependent children accompanying you to Australia at any time during your stay.</li>
              <li>You have a passport from an eligible country or jurisdiction</li>
            </ul>
    <br><br>
            <h6><strong>Costs & Timelines</strong></h6>
    <br><br>
            It costs AUD $485 to apply (Other fees may apply too for extra information (medical certificates, police checks etc), if needed). This cost can change at any time so it’s always best to check the Department of Home Affairs website before applying. 
    <br><br>
            The processing time for the 417 visa can take anywhere between 45-90 days. 
    <br><br>
            Be careful to ensure your application is correctly filled out and contains all the required documents as this can lengthen the processing time. 
    <br><br>
            With this visa you can: 
            <ul>
              <li>Do short-term work in Australia to help pay for your holiday. This is usually no more than 6 months for the same employer.</li> 
              <li>Study for up to 4 months (17 weeks) — if the main purpose of your trip is to study, you may want to consider a Student visa</li> 
              <li>Travel to and from Australia as many times as you want</li>
              <li>Do 3 months of specified work to become eligible for a second Working Holiday visa</li>
            </ul>
    <br><br>
            <h6><strong>Things worth knowing</strong></h6>
    <br><br>
            <ul>
              <li>To be issued a working holiday visa, Immigration Australia will require proof that you can support yourself if you don’t have work already lined up – AU$5,000 is what they advise. </li>
              <li>You'll need to meet certain health and character requirements, and you may also be asked to provide a police certificate. </li>
              <li>All documents must be in English, and any scan or photograph of documents must be clear and in colour.</li>
              <li>You can leave and re-enter Australia using this visa as many times as you like during your year. However, if you permanently leave Australia without staying for the full 12 months you cannot go back, say, a year later and use the remaining months of your visa.</li>
              <li>Always make sure you check the terms and conditions on your visa!</li>
            </ul>
    <br><br>
            Once your visa has been approved you’ll be advised of what you need to do. Basically, your passport will be stamped upon arrival in whichever Australian city you fly into and you’ll have a year before you have to leave. Everything is tagged electronically so there’s hardly any paper-work to worry about!
    <br><br>
            What happens at the end of my first working holiday visa?
    <br><br>
            If you’ve entered Australia on a 417 visa then there are two ways that you can extend your visa and stay in the country for longer to work. Sponsorship ( for certain skilled occupations) or the most popular route — specified work. 
    <br><br>
            The Australian government allows working holiday visa holders to extend their visas for another year by completing 88 day of specified work in regional areas of Australia. Picking and harvesting fruit and vegetables seem to be the most popular form of farm with working holiday makers. Work can be taxing, especially in the heat, and working conditions can sometimes be pretty poor. Despite this, most backpackers will agree that it’s worth it to be able to stay on in Australia for another year.
    <br><br>
            Find out more about the requirements for a second year visa here.
    <br><br>
            The visa costs the same as the First Working Holiday visa and takes about the same amount of time to process however, you can be in or outside Australia when you apply.
    <br><br>
            One thing to know - Australian authorities check every one in four visa applications, so don’t be tempted to claim you’ve done your agricultural work when you haven’t.
    <br><br>

            Recently Australia has just created the Third Working Holiday visa which has the same perimeters as the First & Second Working Holiday visa with costs and application times being much the same. In order to be eligible for this visa, you must have completed an additional 88 days a specified work during your Second Working Holiday Visa. 
    <br><br>
            Unfortunately at the end of your Third Working Holiday visa, you can't stay in Australia longer by extending this visa or get a fourth Working Holiday visa if you have already held 3 Working Holiday visas in Australia.
          </p>

    <br><br>
          <h6><strong>Useful Links</strong></h6>
    <br><br>
          <%= link_to "Official Working Holiday Visa Listing", "https://immi.homeaffairs.gov.au/visas/getting-a-visa/visa-listing/work-holiday-417", target: "_blank" %>
          <%= link_to "Working Holiday Visa FAQ", "https://www.australia.com/en/youth-travel/working-holiday-visa/faq.html", target: "_blank" %>
    <br><br>

  </div>
</div>