.featured-venues-container {
  // padding-bottom: 25px;
  // padding-top: 25px;
  height: 300px;
  width: 992px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  // margin-top: 25px;  
  margin-bottom: 25px;  
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.featured-venues-carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.featured-venues-card {
  color: white;
  // background: black;
  min-width: 320px;
  height: 300px;
  margin-right: 1rem;
  display: inline-block;
}