.featured-venues-container {
  // padding-bottom: 25px;
  // padding-top: 25px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  text-align: center;
  background-color: #d3d3d3;
}

// .carousel-item > img {
  
// }