
.home-featured-venues-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 25px;
  // padding-top: 25px;
}

.featured-venues-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  text-align: center;
  background-color: #d3d3d3;
}

.featured-venues-container a {
  color: white;
}
.featured-venues-container a:hover {
  color: $primary;
}

