
.map-container {
  height: 70vh;
  // width: 80%;
  border: 4px solid white;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 100%;
  width: 100%;
}

.home-map-container {
  text-align: center;
}

.home-map-headers {
  padding: 15px;
}