.navbar-wwia {
  justify-content: space-between;
  background: $primary;
  opacity: 0.9;
  // background-color: rgba(255,255,255,0.5);   // transparent navbar
  box-shadow: 0px 2px 3px rgba(0,0,0,.2);
  // margin-bottom: 10px;
}

.navbar-wwia .navbar-collapse {
  flex-grow: 0;
}

.navbar-wwia .navbar-brand img {
  width: 90px;
}


.nav-button {
  border-radius: 12px;
  // border: solid 2px white;
}

.nav-button:hover {
  background: $primary;
}