
<div class="container">
  <div>
    <% @regions.each do |region| %>
      <%= link_to region_path(region) do %>
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= region.name %></h2>
              <p>Short region description here</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>  
  </div>
</div>

<table class="table">
  <thead>

  </thead>
  <tbody>
  
  </tbody>
</table>