
<div class="container">
  <div class="row row-cols-3">
    <% @regions.each do |region| %>
      <%= link_to region_path(region), class: "a-primary" do %>
        <div class="card-trip">
          <img src="https://res.cloudinary.com/dkowfxwpp/image/upload/v1579955207/sydney1_ex0vop.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= region.name %></h2>
              <p>region.description (truncated) here</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>  
  </div>
</div>


