
<div class="region-show-banner">
  <!-- <%= image_tag @region.banner, src: "Image not found!", class: "region-show-banner-image" %> -->
  <div class="container">
    <div class="region-show-container">
      <h1><%= @region.name %></h1>
      <p><%= @region.description %></p>


      <p>More information: <%= link_to "visitcanberra.com.au", @region.link %></p>
    </div>
  </div>

</div>
