.dashboard-container {
  height: 320px;
  text-align: center;
}

.dashboard-container h3 {
  padding-top: 100px;
}

.card-container {
  // display: flex;
  // justify-content: center;
  // align-items: flex-end;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // align-items: flex-end;
}


.card-dashboard {
  overflow: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  padding: 10px;
  height: 400px
}

.card-dashboard > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-dashboard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
}


.card-dashboard .card-dashboard-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dashboard-infos .card-dashboard-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.applications-container {
  overflow: auto;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin: 15px;
  // padding: 10px;
  // height: 400px
}

.card-application {
  overflow: hidden;
  height: 10vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 15px;
}

.card-application img {
  height: 100%;
  width: 60px;
  object-fit: cover;
}

.card-application h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  
}

.card-application p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-application .card-application-infos {
  padding: 10px;
}
