
/* ----- Top Container ----- */ 

.dashboard-container {
  height: 320px;
  text-align: center;
}

.dashboard-container h3 {
  padding-top: 100px;
}

.cards-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



/* ----- Dashboard Cards ----- */



.card-dashboard {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(94, 67, 67, 0.2);
  margin: 15px;
  padding: 10px;
  height: 450px
}

.card-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-dashboard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: center;
}

.btn-container {
  justify-self: flex-end;
}

.btn-container .btn {
  width: 100%;
}

/* ----- Applications ----- */



.applications-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
}

.card-application {
  height: 10vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-application h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  
}

.card-application p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-application .card-application-infos {
  padding: 10px;
  text-align: center;
}



/* ----- Search ----- */


.search-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  background: white;
  justify-content: center;
  // align-content: space-between;
}


/* ----- Resources ----- */



.resources-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
}

.card-resource {
  height: 10vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-resource h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  
}

.card-resource p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-resource .card-resource-infos {
  padding: 10px;
  text-align: center;
}




