.dashboard-container {
  height: 320px;
  text-align: center;
}

.dashboard-container h3 {
  padding-top: 100px;
}

.card-container {
  // display: flex;
  // justify-content: center;
  // align-items: flex-end;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // align-items: flex-end;
}